.apartment-container{
    width: 100%;
    display: flex;
    
}
.apartment-list-container{
    flex:1;
}

.current-apartment-container{
    flex:4;
    padding: 2rem;
    margin: 2rem ​auto auto 1rem;
}
.current-apartment-container__item{
    display: flex;
    flex-flow: column;
    margin: auto auto 15px auto;
}
.apartment-list-container__item{
    margin: 2rem auto 0 1rem;
}
.apartment-list-container__item-list{
}
.current-apartment-container__field{
    flex:1;
    display: flex;
    justify-content: space-around;
}
.current-apartment-container__field-label{
    margin:  4px;
}
.img-thumbnail.apartment-image{
    width: 100%;
    height: 300px ;
 }
.image-item{
    width: 300px;
}
.pointer{
    cursor: pointer;
}
.image-container{
    display: flex;
}
.delete-image{
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}
.delete-image-btn{
    cursor: pointer;
}
.edit-apartmentcontainer__item--added-image{
    display: flex;
}

.preloaded-image-container{
    display: flex;
}
.preloaded-image-container__item{
    margin: 5px;
    width: 200px;

    position: relative;
}
.preloaded-image-container__item:before{
    content: 'New';
    width: 30px;
    height: 30px;
    left: 90%;
    top:-10px;
    border-radius: 50%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    background-color: green;

}

.add-subway-btn{
    font-weight: bold;
}